.allmyfarm{
    margin-top: 59px;
    padding-top: 20px;
}
.myfarms{
    width: 100vh;

    .styling{
        color: #7c795d;
         font-family: 'Trocchi', serif;
          font-size: 45px;
           font-weight: normal;
            line-height: 48px;
            margin: 40px 0px;
    }
    .styling2{
        color: #7c795d;
         font-family: 'Source Sans Pro', sans-serif;
          font-size: 28px;
           font-weight: 400;
            line-height: 32px;
            margin: 25px 0px;

    }
    .fontso{
        font-family: 'Source Sans Pro', sans-serif;
        color: #4d4343;
        font-weight: bold;
    }
}