.allsearch{
    margin-top: 59px;
    padding-top: 50px;
}
.searchForm{

    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

    // font: 12px Lucida sans, Arial, Helvetica, sans-serif;
    font-family: 'Caveat', cursive;
    color: #333;
    text-align: center;

    border-radius: 5px;
    margin: auto;
    width: 1200px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 0 rgb(182, 169, 169), 0 4px 0 #aaa, 0 5px 5px #444;
    padding-bottom: 30px;
    padding-top: 30px;

    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color:#f5b2b2d9 ;
    
    div{
        margin: auto;
        color: #222;
        
        
    }
    div h2{
     
        font-size: 50px;

    }
    div p{
        margin-top: 10px;
        margin-bottom: 10px;

        font-size: large;
    }

    

  
  a {
      color: #2A679F;
  }

  


  .form-wrapper {
 
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
      background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
      background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
      background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
      background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
      background-image: linear-gradient(top, #f6f6f6, #eae8e8);
      border-color: #dedede #bababa #aaa #bababa;
      border-style: solid;
      border-width: 1px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
      -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 0 #bbb, 0 4px 0 rgb(0, 0, 0), 0 5px 5px rgb(8, 0, 0);
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1), 0 3px 0 rgb(182, 169, 169), 0 4px 0 #aaa, 0 5px 5px #444;
      margin: 0 auto;
      margin-bottom: 10px;
      overflow: hidden;
      padding: 20px;
      width: 550px;
  }
  
  .form-wrapper #search {
    border: 1px solid;
   border-color: #FFBF86;
    //   border: 1px solid #CCC;
   
      
      -moz-border-radius: 3px;
      border-radius: 3px;
    color: #999;
      float: left;
    
      font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
      padding: 10px;
      width: 320px;
  }
  
  .form-wrapper #search:focus {
     
      -webkit-box-shadow: 0 1px 1px #bbb inset;
      -moz-box-shadow: 0 1px 1px #bbb inset;
      box-shadow: 0 1px 1px #bbb inset;
      outline: 0;
  }
  
  .form-wrapper #search:-moz-placeholder,
  .form-wrapper #search:-ms-input-placeholder,
  .form-wrapper #search::-webkit-input-placeholder {
      color: #999;
      font-weight: normal;
  }


  .form-wrapper #submit {
      background-color: #FFBF86;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
      background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
      background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
      background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
      background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
      background-image: linear-gradient(top, #31b2c3, #0483a0);
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #fafafa;
      cursor: pointer;
      height: 42px;
      float: right;
      font: 15px Arial, Helvetica;
      padding: 0;
      font-weight: bolder;
      text-transform: uppercase;
      text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
      width: 100px;
  }
  
  .form-wrapper #submit:hover {
      background-color: #fa9d4c;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
      background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
      background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
      background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
      background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
      background-image: linear-gradient(top, #0483a0, #31b2c3);
  }
  
  .form-wrapper #submit:active {
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
      outline: 0;
  }
  
  .form-wrapper #submit::-moz-focus-inner {
      border: 0;
  }
}